@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: nunito_bold;
        src: url("../assets/fonts/Nunito-Bold.ttf");
        font-display: "swap";
    }

    @font-face {
        font-family: nunito_regular;
        src: url("../assets/fonts/Nunito-Regular.ttf");
        font-display: "swap";
    }

    @font-face {
        font-family: nunito_light;
        src: url("../assets/fonts/Nunito-Light.ttf");
        font-display: "swap";
    }

    body {
        @apply font-nunito_regular
    }

    .flex-center {
        @apply flex items-center justify-center
    }

    .flex-center-x {
        @apply flex items-center
    }

    input {
        @apply outline-none
    }

    .input-white {
        @apply bg-white rounded-md px-4 py-3 border border-gray-100 shadow-lg shadow-gray-100
    }

    .button-black {
        @apply bg-black text-white rounded-md px-6 py-2.5
    }

    .icon-text {
        @apply flex items-center space-x-3
    }
}